/* VARIABLES */
:root {
    --bg: #ffffff;
    --text: #222222;
    --primary: rgb(8, 76, 121);
    --accent: rgb(228, 78, 103);
    --footer-bg: #09244f;
    --footer-text: #bcb6b6;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: Arial, sans-serif;
    background-color: var(--bg);
    color: var(--text);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER */
.site-header {
    background: linear-gradient(135deg, #e2b278, #d9a35f);
    padding: 8px 10px;
}

.header-container {
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
}

.brand {
    display: flex;
    gap: 10px;
}

.site-logo {
    width: 70px;
    height: auto;
    border-radius: 8px;
}

.title-area {
    display: flex;
    flex-direction: column;

}

.site-title {
    font-family: "Edwardian Script ITC", cursive, Georgia, serif;
    font-size: clamp(10px, 4vw, 30px);
    margin: 0;
}

/* MAIN */
main {
    flex: 1;
    width: 100%;
}

.page-title {
    margin: 30px 0 50px 0;
    font-size: 35px;
    text-align: center;
}

/* BACK LINK */
.back-link {
    text-align: center;
    margin-bottom: 30px;
}

.back-link a {
    text-decoration: none;
    font-size: 18px;
    color: var(--primary);
    font-weight: bold;
}

.back-link a:hover {
    color: var(--accent);
}

/* FOOTER */
footer {
    background-color: var(--footer-bg);
    color: var(--footer-text);
    padding: 50px 20px;
}

.footer-container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

footer h3 {
    color: #ffffff;
    margin-bottom: 12px;
}

footer p {
    font-size: 14px;
    line-height: 1.6;
}

.footer-details input {
    padding: 10px;
    width: 230px;
    max-width: 100%;
    border: none;
    border-radius: 6px;
    margin-bottom: 10px;
}

.footer-details button {
    padding: 10px 18px;
    background-color: var(--accent);
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.footer-details button:hover {
    background-color: #c83c55;
}

/* RESPONSIVE (MOBILE) */
@media (max-width: 480px) {

  .header-container {
    justify-content: center;
  }

  .brand {
    flex-direction: row;
    align-items: center;
  }

  .site-logo {
    width: 55px;
  }

  .site-title {
    font-size: 20px;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .footer-details input {
    width: 100%;
  }
}
